zero-bounce-n8n-workflow.json
{
  "name": "Zero-Bounce Outreach — Google Sheets + FullEnrich + Instantly",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000001",
      "name": "Watch New Rows",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 4,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "firstName": "={{ $json['First Name'] }}",
        "lastName": "={{ $json['Last Name'] }}",
        "companyName": "={{ $json['Company'] }}",
        "companyDomain": "={{ $json['Domain (optional)'] }}",
        "linkedinUrl": "={{ $json['LinkedIn URL (Optional)'] }}",
        "enrichFields": "emails",
        "webhookUrl": "={{ $node['FullEnrich Result Webhook'].webhookUrl }}",
        "customFields": {
          "values": [
            {
              "name": "firstName",
              "value": "={{ $json['First Name'] }}"
            },
            {
              "name": "lastName",
              "value": "={{ $json['Last Name'] }}"
            },
            {
              "name": "company",
              "value": "={{ $json['Company'] }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-2222-4000-8000-000000000002",
      "name": "Start FullEnrich",
      "type": "n8n-nodes-fullenrich.fullEnrich",
      "typeVersion": 1,
      "position": [700, 300],
      "credentials": {
        "fullEnrichApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fullenrich-zerobounce",
        "options": {}
      },
      "id": "a1b2c3d4-3333-4000-8000-000000000003",
      "name": "FullEnrich Result Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [460, 560],
      "webhookId": "fullenrich-zerobounce"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-status-check",
              "leftValue": "={{ $json.body.datas[0].contact.most_probable_email_status }}",
              "rightValue": "DELIVERABLE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-4444-4000-8000-000000000004",
      "name": "Email is Deliverable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v1/lead/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"YOUR_INSTANTLY_API_KEY\",\n  \"campaign_id\": \"YOUR_CAMPAIGN_ID\",\n  \"skip_if_in_workspace\": false,\n  \"leads\": [\n    {\n      \"email\": \"{{ $json.body.datas[0].contact.most_probable_email.email }}\",\n      \"first_name\": \"{{ $json.body.datas[0].custom_fields.firstName }}\",\n      \"last_name\": \"{{ $json.body.datas[0].custom_fields.lastName }}\",\n      \"company_name\": \"{{ $json.body.datas[0].custom_fields.company }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-5555-4000-8000-000000000005",
      "name": "Add Lead to Instantly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 560]
    },
    {
      "parameters": {
        "content": "## Zero-Bounce Outreach\n\nThis workflow verifies emails before adding leads to your Instantly campaign.\n\n**Top flow:** Google Sheets → FullEnrich (sends lead for email verification)\n**Bottom flow:** Webhook → Filter → Instantly (only adds leads with deliverable emails)\n\nOnly leads with a DELIVERABLE email status make it into your campaign. Catch-all and invalid emails are automatically filtered out."
      },
      "id": "a1b2c3d4-6666-4000-8000-000000000006",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 120],
      "parameters_ui": {
        "width": 500,
        "height": 220,
        "color": 4
      }
    },
    {
      "parameters": {
        "content": "## Step 1: Google Sheets Setup\n\nCreate a Google Sheet with these columns:\n- **A:** First Name\n- **B:** Last Name\n- **C:** Company\n- **D:** Domain (optional)\n- **E:** LinkedIn URL (Optional)\n\nConnect your Google account and select the sheet."
      },
      "id": "a1b2c3d4-7777-4000-8000-000000000007",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [380, 120],
      "parameters_ui": {
        "width": 280,
        "height": 220,
        "color": 6
      }
    },
    {
      "parameters": {
        "content": "## Step 2: FullEnrich\n\nConnect your FullEnrich API key.\n\nThis node sends each lead for email enrichment and verification. It only enriches **emails** (not phones).\n\nThe webhook URL is set automatically — FullEnrich will call it when done."
      },
      "id": "a1b2c3d4-8888-4000-8000-000000000008",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [620, 120],
      "parameters_ui": {
        "width": 280,
        "height": 220,
        "color": 6
      }
    },
    {
      "parameters": {
        "content": "## Step 3: Filter + Instantly\n\nThe IF node checks the email status.\n\n**DELIVERABLE** → lead is added to Instantly\n**CATCH-ALL / INVALID** → lead is skipped\n\n⚠️ Replace `YOUR_INSTANTLY_API_KEY` and `YOUR_CAMPAIGN_ID` in the HTTP Request node."
      },
      "id": "a1b2c3d4-9999-4000-8000-000000000009",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [620, 400],
      "parameters_ui": {
        "width": 420,
        "height": 180,
        "color": 6
      }
    }
  ],
  "connections": {
    "Watch New Rows": {
      "main": [
        [
          {
            "node": "Start FullEnrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FullEnrich Result Webhook": {
      "main": [
        [
          {
            "node": "Email is Deliverable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email is Deliverable?": {
      "main": [
        [
          {
            "node": "Add Lead to Instantly",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2
}
